<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Angular</title>
  </head>
  <body>
    <div class="container w-100">
      <div class="content mx-auto my-5">
        <app-on-input
          [todos]="todos"
          (sendDataAdd)="getDataAdd($event)"
        ></app-on-input>
        <app-table-list
          [todos]="todos"
          [filter]="filter"
          (sendEditId)="getEditId($event)"
          (sendDeleteId)="getDeleteId($event)"
          (sendDataUpdate)="getDataUpdate($event)"
          (sendCancelId)="getCancelId($event)"
        ></app-table-list>
        <!-- <p>{{1000000 | tu}}</p> -->
      </div>
    </div>

    <div class="table-list my-5">
      <table
        class="table table-bordered"
        cellpadding="0"
        cellspacing="0"
        width="100%"
        border="0"
      >
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Create date</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let item of todos">
            <tr>
              <td>{{ item.id }}</td>
              <td>
                <p>
                  {{ item.title }}
                </p>
              </td>
              <td>{{ item.createdDate }}</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </body>
</html>
