.add-items {
  input {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }
  button {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    i {
      font-size: 20px;
    }
  }
  p{
    color: red;
    font-size: 14px;
  }
}
